
// Body
$body-bg: #f1f1f1;

// Brands
$primary: #3097D1;
$info: #8eb4cb;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: .875rem; // 14px
$body-line-height-base: 1.4em;
$text-color: #636b6f;

// Inputs
$input-border-color: lighten($text-color, 40%);
$input-placeholder-color: lighten($text-color, 30%);
