/*!
 * Ptpkg v0.1.0 (https://www.pandaonline.com)
 * Copyright 2011-2018 The Ptpkg Authors
 */

.package-details {
    .package-banner {
        .package-cta-book {
            padding-top: 142px;
        }
        .package-title {
            margin-top: 30px;
        }
    }
}

.package-details,
.package-book {
    .package-banner {
        .package-teaser {
            p {
                margin-bottom: 0.25em;
            }
        }
    }
    .package-content-wrapper {
        padding-top: 20px;
        background-color: #F5F8FF !important;
    }
    .card {
        .card-header {
            h2.card-title {
                font-family: Roboto, sans-serif;
                font-size: 2em;
                font-weight: 300;
                line-height: 1.1;
                color: $brightblue;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .card-header,
        .card-footer {
          background-color: transparent !important;
        }
    }
}
