// card component
//

.package-details-card {
  border-radius: 4px;
  border: 1px solid #ccc;
  .card-header {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    h3,h4,h5 {
      margin: 0;
      padding: 10px 0;
      font-weight: 300;
    }
  }
}

.occupancy-rates {
  .occupancy-rates-label {
    border-right: 1px solid #15a0f5 !important;
  }
  .occupancy-rates-info {

  }
}
